body{
    background-color: #f2eeee;
}
/* Global Centralized Container */
.container{
    width: 70%;
    padding: 0px;
    text-align: center;
    display: inline-block;
}
@media(max-width: 900px){
    .container{
        width: 90%;
    }
}
.whitBackground{
    background-color: white;
    padding: 10px 0px;
}
.badgeGold{
    color: #f8ab5b;
    background-color: #fef3e9;
    /* position: relative;
    z-index: 50;
    right: 0;
    bottom:  0; */
}
.recCard{
    /* position: absolute; */
}
/*____________________________________||NavBar||______________________________________ */
/*row1 nav-adv */
.nav-adv{
    background-color: #ff9900;
}
/*row2 nav-Seller-Lang */
.nav-Seller-Lang a{
    text-decoration: none;
    color: #ff9900;
    font-size: 15px;
    
}
@media(max-width: 900px){
    .nav-Seller-Lang a{
        font-size: 10px;
    }
}
/*row2 nav-Seller-Pay */
.nav-Seller-Lang a  img{
    width: 20px;
}
.nav-Seller-Lang .pay img{
    width: 20px;
}
.nav-Seller-Lang .pay span{
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(196, 196, 196);
}
.nav-Seller-Lang .pay span:hover{
    color: #e68c06;
}
/*row2 nav-Seller-Lan */
.nav-Seller-Lang .lang img{
    border-radius: 10px;
    width: 20px;
}
.nav-Seller-Lang .lang span:first-child{
color: gray;
}
.nav-Seller-Lang .lang #line{
    color: gray;
}
/*row3 Main NavBar */
.navbar{
    width: 100%;
}
.searchIcon{
    color: gray;
    background-color:white;
}
.searchbar{
    border-left: none;
}
.searchButton{
    background-color: #ff9900;
    color: white;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.1rem black);
}
.searchButton:hover{
    background-color: #c77802;
    color: white;
}
.coloreMain:hover{
    color: #e68c06;
}
.loginBtn{
    width: 100%;
    padding: 2px 60px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.DropDownFirstChildLineAfter li:first-child {
    border-bottom:1px solid gray;
}
/*____________________________________||Content||____________________________________ */
/* Row1-categories-Slider */
.categories{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: left;
}
.categoriesItem{
    padding: 5px 8px;
    width: 100%;
}
.categoriesItem:hover{
    color: #e68c06;
    cursor: pointer;
}
/* Slider */
.slider img{
    width: 100%;
}
.sid-Image div{
    height: 50%;
}

.sid-Image div img{
    height: 100%;
}
/* SingleSlider */
.splide__slide img{
    width: 100%;
}
/* Recommended For U */
.recCard{
    width: fit-content;
}
.recImage{
    width: fit-content;
}
.recCard img{
    width: 80%;
}
.recCard p{
    margin: 0;
}
.recCard h4{
    margin: 0;
}
.card p:last-child{
    text-decoration: line-through;
    color: rgb(196, 196, 196);
}
.card{
    display: inline-block;
    width: 30%;
    border: none;
    padding:0px 20px;
}