body{
    background-color: #f2eeee;
}
/* Global Centralized Container */
.container{
    width: 70%;
    padding: 0px;
    text-align: center;
    display: inline-block;
}
@media(max-width: 900px){
    .container{
        width: 90%;
    }
}
.whitBackground{
    background-color: white;
    padding: 10px 0px;
}
.badgeGold{
    color: #f8ab5b;
    background-color: #fef3e9;
    /* position: relative;
    z-index: 50;
    right: 0;
    bottom:  0; */
}
.recCard{
    /* position: absolute; */
}
.redBackground{
    background-color: #E61601;
}

/*____________________________________||NavBar||______________________________________ */
/*row1 nav-adv */
.nav-adv{
    background-color: #ff9900;
}
/*row2 nav-Seller-Lang */
.nav-Seller-Lang a{
    text-decoration: none;
    color: #ff9900;
    font-size: 15px;
    
}
@media(max-width: 900px){
    .nav-Seller-Lang a{
        font-size: 10px;
    }
}
/*row2 nav-Seller-Pay */
.nav-Seller-Lang a  img{
    width: 20px;
}
.nav-Seller-Lang .pay img{
    width: 20px;
}
.nav-Seller-Lang .pay span{
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(196, 196, 196);
}
.nav-Seller-Lang .pay span:hover{
    color: #e68c06;
}
/*row2 nav-Seller-Lan */
.nav-Seller-Lang .lang img{
    border-radius: 10px;
    width: 20px;
}
.nav-Seller-Lang .lang span:first-child{
color: gray;
}
.nav-Seller-Lang .lang #line{
    color: gray;
}
/*row3 Main NavBar */
.navbar{
    width: 100%;
}
.searchIcon{
    color: gray;
    background-color:white;
}
.searchbar{
    border-left: none;
}
.searchButton{
    background-color: #ff9900;
    color: white;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.1rem black);
}
.searchButton:hover{
    background-color: #c77802;
    color: white;
}
.coloreMain:hover{
    color: #e68c06;
}
.loginBtn{
    width: 100%;
    padding: 2px 60px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.DropDownFirstChildLineAfter li:first-child {
    border-bottom:1px solid gray;
}
/*____________________________________||Content||____________________________________ */
/* Row1-categories-Slider */
.categories{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: left;
}
/* //Make Categories Collapsing  When Screen is  real Smal  */
.realSmallCollaps{
display: none;
}
.CategoriesHeader{
    display: none;
}
@media(max-width: 900px){
    .realSmallCollaps,.CategoriesHeader{
        display: inline-block;
    }
}
.categoriesItem li a:hover{
    color: #e68c06;
    cursor: pointer;
}

/* Slider */
.slider img{
    width: 100%;
}
.sid-Image div{
    height: 50%;
}
/* sid-Image */
.sid-Image div img{
    height: 100%;
}
@media (max-width: 767px) {
    .sid-Image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sid-Image div{
        width: 60%;
        height: 100%;
        display: inline-block;
    } 
    .sid-Image div img{
        width: 100%;
        height: 100%;
    } 
 }
/* SingleSlider */
.splide__slide img{
    width: 100%;
}
/* Recommended For U */
@media (max-width: 767px) {
    .recomndCarousel-inner .carousel-item>div {
        display: none;
    }

    .recomndCarousel-inner .carousel-item>div:first-child {
        display: block;
    }
}
.recomndCarousel-inner .carousel-item.active,
.recomndCarousel-inner .carousel-item-next,
.recomndCarousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .recomndCarousel-inner .carousel-item-end.active,
    .recomndCarousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .recomndCarousel-inner .carousel-item-start.active,
    .recomndCarousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.recomndCarousel-inner .carousel-item-end,
.recomndCarousel-inner .carousel-item-start {
    transform: translateX(0);
}
.card{
    border: none;
}
.card-img-overlay{
height: 100%;
}
.card-body{
    color: black;
    text-align: left;
}
.card-body p:last-child{
    text-decoration: line-through;
    color: rgb(196, 196, 196);
} 

/* flashSale */
.flashSale i{
    margin-right: 3px;
    color: #e68c06;
}
.flashSale{
    font-size: 20px;
    color: white;
}
@media(max-width: 900px){
    .flashSale{
        font-size: 8px;
    }
}
.flashSale div:last-child{
    font-size:15px;
}
@media(max-width: 900px){
    .flashSale div:last-child{
        font-size: 8px;
    }
}
#liveClock{
    margin-left: 5px;
}